/* import fonts from google fonts */

@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap");
:root {
    --light-gray: #2b3032a1;
    --everywhere-color: #6aaec9;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: 'Roboto', sans-serif;
    --gugi: 'Gugi', cursive;
    --sofia: 'Sofia', cursive;
}

* {
    font-family: var(--roboto);
}

.primary-color {
    color: var(--everywhere-color);
}

.bg-primary-color {
    background-color: var(--everywhere-color) !important;
}

.text-color {
    color: var(--text-color);
}

.font-roboto {
    font-family: var(--roboto);
}

.lightblue {
    color: lightblue;
}


/* header */

header {
    background-color: var(--everywhere-color);
    font-family: var(--roboto);
}

header .site-title {
    font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}


/*  Navigation Menu */

.navbar-nav {
    padding: 0.8em 0em;
}

.navbar-nav .nav-link {
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-link {
    padding: 0 1.3em;
}

.navbar-nav .basket-icon {
    margin-right: 6.5rem !important;
}


/* Slider one */

.site-slider {
    position: relative;
}

.position-top {
    position: absolute;
    top: 45%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
    background-color: var(--everywhere-color);
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
    opacity: 1;
}

.right-0 {
    right: 0;
}


/* Slick Dots */

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.slick-dots li {
    margin: 0 0.6rem;
}

.slick-dots button {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button {
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}


/* Second Slider */

.site-slider-two {
    position: relative;
    height: 30%;
}

.site-slider-two .product {
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.site-slider-two .product img {
    width: 90%;
    margin: auto;
}

.site-btn.btn-span {
    padding: 0.8rem 1.9rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    background-color: white;
    color: var(--light-gray);
}

.slider-two .slick-track .product:hover span {
    background-color: var(--everywhere-color);
}

.hr {
    border: 1px dotted var(--border);
}


/* Features Sections */

.container .features {
    padding: 3rem 0;
}

.container .features h1 {
    font-family: var(--gugi);
}

.container .features p {
    padding: 0.5% 25%;
    font-size: 0.9em;
}


/* Third Slider */

.site-slider-three {
    position: relative;
    margin-bottom: 5rem;
}

.site-slider-three .product {
    height: 100%;
    padding: 0em;
}

.site-slider-three .cart-details {
    margin-top: 0.5rem;
    padding: 0 2rem;
}

.rating i {
    font-size: 0.7rem;
    color: lightblue;
}

.site-slider-three .pro-price span {
    color: var(--text-color);
}

.product .cart .site-btn:hover {
    background: var(--everywhere-color);
    color: white;
}


/* Slider Four */

.site-slider-four {
    position: relative;
    margin-top: 3rem;
}

.slider-four {
    padding: 0 0.4rem;
}

.slider-four .product img {
    width: 80%;
    border: 1px solid var(--border);
}

.newseller {
    margin-top: 8rem;
}

.slider-brand {
    position: relative;
    margin: 4rem 0;
}


/* Our Client */

.slider-client {
    width: 100%;
    height: 100%;
    background: url("../images/cup-desk-drink-434337.jpg");
    background-size: cover;
    padding: 8% 0;
    overflow: hidden;
}

.slider-box {
    width: 85%;
    height: 100%;
    background: rgba(255, 255, 255, 0.35);
    margin: auto;
    border-radius: 0.4rem;
}

.slider-six p {
    padding: 2% 15%;
    line-height: 32px;
    font-family: var(--roboto);
    color: var(--light-gray);
}

.slider-six .slick-dots {
    bottom: -4rem;
    left: 50%;
}

.slider-six .slick-dots button {
    background-color: var(--border);
}

.slider-six .slick-dots li.slick-active button {
    transform: scale(2.5);
    background-color: var(--everywhere-color);
    box-shadow: 1px 1px 2px 1px var(--border);
}

.site-info {
    margin-top: 10rem;
}


/* Ceckout */

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.pull-right {
    float: right!important;
}


/* Functions */

.links {
    color: var(--light-gray);
}


/* Footer */

footer h4 {
    padding: 4rem 1rem 0;
    font-family: var(--roboto);
}

footer .social i {
    padding: 3% 1%;
}

footer .col-md-2 small {
    color: var(--light-gray);
    padding: 0.7em 0;
}

footer .follow-us div {
    width: 33%;
    height: 8rem;
    background: lightblue;
}